body {
    background-color: aquamarine;
}

.content {
    width: 550px;
    max-width: 600px;
    height: 250px;
    margin: 15vh auto 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin: 20px;
    text-align: justify;
}
#voltar{background-color:white;
    font-size: 15px;
    margin-top: 40px;
    color:black;
    border: 1px solid white;
    border-radius: 20px;
    width:auto;
    height: 35px;
    cursor: pointer;

}


@media(max-width:560px) {
    .content {width: 400px;
    max-width: 500px;
    height: 288px;
    margin: 15vh auto 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}